body{
    background: rgb(15, 138, 209);
    margin-left: 40px;
    margin-right:300px;
}

h1{
    color: rgb(243, 240, 74);
    font-family:'Times New Roman';
}

header{
    margin-top:70px;
}

img{
    margin-bottom:-70px;
    margin-top:50px;
}

footer{
    margin-bottom: 50px;
}